<mat-card>
  <h1>Vigenere Application</h1>
  <mat-card-content>
    <form #f="ngForm" fxLayout="column">
      <div fxLayout="row">
        <p fxFlex="10%">Decoded message</p>
        <mat-form-field appearance="outline">
        <textarea
          name="decodedMessage"
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <p fxFlex="10%">Password</p>
        <mat-form-field appearance="outline">
          <input name="password" matInput ngModel required/>
        </mat-form-field>
        <div>
          <button
            type="submit"
            mat-icon-button
            (click)="onEncode()"
            [disabled]="f.invalid"
          >
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button
            type="submit"
            mat-icon-button
            (click)="onDecode()"
            [disabled]="f.invalid"
          >
            <mat-icon>arrow_upward</mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout="row">
        <p fxFlex="10%">Encoded message</p>
        <mat-form-field appearance="outline">
                <textarea
                  name="encodedMessage"
                  ngModel
                  matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3"
                ></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>

